ShaderPractice/ShaderPractice/Resource/
ShaderPractice/ShaderPractice/Debug/
ShaderPractice/Debug/
ShaderPractice/.vs/
ShaderPractice/ipch/
ShaderPractice/ShaderPractice/Release/
ShaderPractice/ShaderPractice.VC.db
